@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/Proxima_Nova/proximanova_bold.otf");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./fonts/Proxima_Nova/proximanova_regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Сбросить все стили для элемента select */
select {
  all: initial;
}

/* Сбросить все стили для кнопки */
button {
  all: unset;
}

body {
  min-height: 100vh;
  color: #DDD;
  text-align: center;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
